/* Start header */
.custom-header {
    align-items: center;
    justify-content: center;
  }
  
  .custom-header-text {
    font-size: 3rem;
  }

  #current-date{
    color: aliceblue;
    font-size: 1.5rem;
  }
  /* End header */
  
  /* Start form */
  .form-custom {
    margin-top: 10px;
  }
  /* End form */